<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <link href="../assets/css/theme.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/overrides.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/foundation-custom.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $(".morphing-glowing img").load(function() {
                $(this).wrap(function(){
                    return '<span class="image-wrap morphing-glowing' + $(this).attr('class') + '" style="position:relative; display:inline-block; background:url(' + $(this).attr('src') + ') no-repeat center center; background-size:contain; width: ' + $(this).width() + 'px; height: ' + $(this).height() + 'px;" />';
                });
                $(this).css("opacity","0");
            });

        });
    </script>
    <title>Alexander Consulting</title>
</head>
<body>
<!-- #BeginEditable "ACRegion" -->
<table class="aligncenter header" width="100%" border="0" style="border:0;margin:0 auto;">
    <tbody>
        <tr>
            <td width="5%">&nbsp;</td>
            <td width="35%">
                <div data-tab>
                    <dd><a href="#home">
                        <h1>ALEXANDER CONSULTING</h1>
                            <h3 class="subtitle">
                                Search  &#183;  Direction  &#183;  Strategy  &#183;  Solution
                            </h3>
                    </a></dd>
                </div>
            </td>
            <td width="55%">
                <span class="soft-embossed image-wrap">
                    <img class="effing-center" width="85%" src="../assets/images/logo-long2.png">
                </span>
            </td>
            <td width="5%">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="tab-row" width="100%" border="0" style="border:0;margin:0 auto;">
    <tr>
        <td class="dark-border-bottom" style="margin:0 auto;">
            &nbsp;
        </td>
        <td class="dark-border-bottom" style="width:810px;">
            <div class="body-wrapper">
                <dl class="tabs row" data-tab>
                    <dd class="active"><a href="#home">HOME</a></dd>
                    <dd><a href="#about">ABOUT</a></dd>
                    <dd><a href="#services">SERVICES</a></dd>
                    <dd><a href="#process">PROCESS</a></dd>
                    <dd><a href="#contact">CONTACT</a></dd>
                </dl>
            </div>
        </td>
        <td class="dark-border-bottom" style="margin:0 auto;">
            &nbsp;
        </td>
    </tr>
</table>
<table class="body-row" width="100%" border="0" style="border:0;">
    <tr>
        <td>
            <div class="row body-wrapper">
                <div class="tabs-content">
                    <div class="content active" id="home">
                        <table class="aligncenter" width="85%" border="0" style="border:0;">
                            <tbody>
                            <tr>
                                <td width="65%" class="body-text">
                                    <strong>Alexander Consulting</strong> is a boutique executive search firm
                                    that provides full service retained executive search and
                                    unbundled executive search services.  Our clients range
                                    from leading global organizations across all industries
                                    to retained executive search firms.  The mission has always
                                    been to deliver outstanding recruiting services in a timely,
                                    cost effective manner.   <br><br>We bring over 20 years of proven
                                    expertise and a personal commitment to deliver results.
                                    As a trusted business partner, we are recognized for
                                    providing accurate, objective information and cost effective
                                    recruiting services that are tailored to meet individual
                                    client needs.  Our clients depend on our counsel and
                                    uncompromised ethics to present them leaders who will meet
                                    their specific organizational needs and objectives.
                                </td>
                                <td width="3%">&nbsp;</td>
                                <td rowspan="2" width="32%" class="body-text">
                                    <div id="globe-banner" data-tab>
                                        <dd><a href="#process">
                                            <img class="morphing-glowing" height="130px;" src="../assets/images/globe-banner.jpg">
                                            <div class="discover-callout">
                                                <strong>Strategic, global search process</strong>
                                            </div>
                                        </a></dd>
                                    </div>
                                    <div height="30px" style="height:30px;">&nbsp;</div>
                                    <div id="services-banner" data-tab>
                                        <dd><a href="#services">
                                            <img class="morphing-glowing" height="130px;" src="../assets/images/unique.png">
                                            <div class="services-callout">
                                                <strong>Unbundled, executive search service</strong>
                                            </div>
                                            </a>
                                        </dd>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="65%" class="orbit-styles">
                                    <ul data-orbit
                                        data-options="animation:slide;
                                                      timer_speed: 7500;
                                                      pause_on_hover:true;
                                                      animation_speed:500;
                                                      resume_on_mouseout:true;
                                                      navigation_arrows:true;
                                                      bullets:false;
                                                      slide_number:false;
                                                      timer_show_progress_bar:false;">
                                        <li>
                                            "Working with Alexander Consulting is like driving a Porsche!"<br> <i>Senior Partner at a top Global Management Consulting Firm</i>
                                        </li>
                                        <li>
                                            "Whenever I need to bring in top talent, Alexander Consulting is the only firm I call."  <br><i>CEO of a Medical Partnership</i>
                                        </li>
                                        <li>
                                            "Most importantly, Diana is a person of integrity and character... I wouldn't work with any other firm."  <br><i>Chairman of Hospital Medicine for a Health System affiliated with Harvard.</i>
                                        </li>
                                        <li>
                                            "Diana is probably the most knowledgeable search consultant I have ever worked with... Diana's counsel is invaluable to me as is her honesty, integrity and overall solution oriented approach to all she does."  <br><i>SVP, Human Resources for a Global Consumer Goods Company</i>
                                        </li>
                                    </ul>
                                </td>
                                <td width="3%">&nbsp;</td>
                                <td width="32%">
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content" id="about">
                        <table class="aligncenter" width="85%" border="0" style="border:0;">
                            <tbody>
                                <tr>
                                    <td width="10%">&nbsp;</td>
                                    <td width="80%">
                                        <h2>About the Founder, Diana Fotinatos</h2>
                                        <img id="headshot-image" src="../assets/images/diana.jpg">
                                        <p class="about-text">
                                            Diana Fotinatos is the founding Partner of Alexander Consulting Associates, LLC and has
                                            been advising clients on talent acquisition strategies and succession planning for over twenty five years.
                                            Diana has successfully led and closed senior executive level searches across multiple industries.
                                            Her focus has been C-level roles, Division/Business Unit Executives and Partner level roles in top
                                            management consulting firms.<br><br>
                                            She prides herself on her long term client relationships, consistently exceeding expectations for
                                            both clients and candidates, and delivering value beyond the scope of the search.  As a result,
                                            she has partnered with clients on human capital issues other than recruiting, such as competitor
                                            intelligence needs, salary surveys, behavioral interviewing and customized recruiter training.<br><br>
                                            Her clients range from global Fortune companies to top professional services firms and independent
                                            retained executive search firms.  Much of her consulting expertise comes from her prior experience
                                            having been a preferred vendor for over ten years with one of the world's top management consulting
                                            firms and her internal corporate staffing experience at Booz Allen & Hamilton.<br><br>
                                            Prior to joining Booz, Allen & Hamilton, Diana was a consultant with KPMG Peat Marwick's executive
                                            search practice in New York. While responsible for research on all engagements, she was also the
                                            assistant to the National Practice Director and handled the national administration of a $9 million
                                            executive search practice.<br><br>
                                            Diana is a magna cum laude graduate of Seton Hall University with a B.S. degree in management/industrial relations.
                                        </p>
                                    </td>
                                    <td width="10%">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content" id="services">
                        <table class="tab-row secondary-nav" width="100%" border="0" style="border:0;margin:0 auto;">
                            <tr>
                                <td class="dark-border-bottom" style="margin:0 auto;">
                                    &nbsp;
                                </td>
                                <td class="dark-border-bottom" style="width:720px;">
                                    <div class="body-wrapper">
                                        <dl class="tabs row" data-tab>
                                            <dd class="active"><a class="secondary-nav-labels" href="#industries">Industries Served</a></dd>
                                            <dd><a class="secondary-nav-labels" href="#assignments">Representative Assignments</a></dd>
                                            <dd><a class="secondary-nav-labels" href="#unbundled">Unbundled Services</a></dd>
                                            <dd><a class="secondary-nav-labels" href="#fees">Fees</a></dd>
                                        </dl>
                                    </div>
                                </td>
                                <td class="dark-border-bottom" style="margin:0 auto;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                        <table class="aligncenter" width="85%" border="0" style="border:0;">
                            <tbody>
                            <tr>
                                <td style="height: 10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="45%">
                                    <h2>MORE ATTENTION, BETTER QUALITY</h2>
                                    <p class="about-text">
                                        Organizations today are cutting costs across the board and streamlining operations.
                                        Many are closely monitoring recruiting functions with an eye on metrics such as
                                        better quality of candidates, decreased time to fill and lower cost per hire even
                                        at the executive level.  Our flexible service offerings and a passion for delivering
                                        quality and value have distinguished us from other recruiting firms.<br><br>
                                        While we offer full retained executive search services across all industries and functions, many
                                        clients have internal recruiting capabilities and require flexible recruiting support
                                        that better suits their needs.  The unbundling of recruiting process allows clients
                                        to select the recruiting support that allows us to be a seamless extension of their
                                        staffing function.  Some require candidate identification, interviewing and assessment;
                                        others may require referencing and offer negotiation.  Some clients retain us over
                                        time to pipeline candidates for workforce planning, while boutique consulting firms
                                        have retained us to identify potential acquisition targets.  We have also been called
                                        on by top retained firms to develop customized recruiter and researcher training programs.
                                        Our flexibility and reporting allows clients to better manage the process and cost that
                                        best suits their needs.
                                    </p>
                                </td>
                                <td width="2%">&nbsp;</td>
                                <td width="1%" class="vertical-divide">&nbsp;</td>
                                <td width="2%">&nbsp;</td>
                                <td width=50% style="vertical-align: top;">
                                    <div class="tabs-content">
                                        <div class="content no-pad active" id="industries">
                                            <h2>INDUSTRIES SERVED</h2>
                                            <p class="services-bullet-text">
                                                &#149;&nbsp;&nbsp;Consumer Packaged Goods/Retail<br>
                                                &#149;&nbsp;&nbsp;Healthcare & Hospitals<br>
                                                &#149;&nbsp;&nbsp;Pharmaceuticals/Life Sciences/Medical Devices<br>
                                                &#149;&nbsp;&nbsp;Financial Services (Commercial and Investment Banking/Credit Card/Asset Management/Real Estate/Insurance)<br>
                                                &#149;&nbsp;&nbsp;Industrial/Aerospace & Defense/Automotive<br>
                                                &#149;&nbsp;&nbsp;Energy/Oil & Gas/Chemicals<br>
                                                &#149;&nbsp;&nbsp;Technology/IT & Professional Services<br>
                                                &#149;&nbsp;&nbsp;Management Consulting (All Practice areas including: Life Sciences, Chemicals, Manufacturing Operations, Aerospace & Defense, Strategic IT & Operations, Healthcare, Pharmaceutical, Automotive, Energy, Marketing, Banking and Insurance, Media & Entertainment.

                                            </p>
                                        </div>
                                        <div class="content no-pad" id="assignments">
                                            <h2>REPRESENTATIVE ASSIGNMENTS</h2>
                                            <p class="assignments-bullet-text">
                                                &#149;&nbsp;&nbsp;Division President for a top consumer foods company<br>
                                                &#149;&nbsp;&nbsp;Chief Financial Officer and CHRO for privately held physician practice<br>
                                                &#149;&nbsp;&nbsp;CEO for a home health provider<br>
                                                &#149;&nbsp;&nbsp;Partner-Brand Management & Strategy for a top Management Consulting Firm<br>
                                                &#149;&nbsp;&nbsp;Partner, Banking & Capital Markets for a global IT consulting firm<br>
                                                &#149;&nbsp;&nbsp;Partner and Regional Corporate Communications positions for a top Management Consulting Firm<br>
                                                &#149;&nbsp;&nbsp;VP, E-commerce for a global consumer goods company<br>
                                                &#149;&nbsp;&nbsp;COO for a global manufacturers of consumer electronics<br>
                                                &#149;&nbsp;&nbsp;Executive Director, Pension Funding & Investments for a global diversified science and engineering company.<br>
                                                &#149;&nbsp;&nbsp;Head of Global Staffing and Recruitment for privately held physician practice and a global IT strategy consulting firm.<br>
                                                &#149;&nbsp;&nbsp;VP/Medical Director-Pharmacoeconomics for a global pharmaceutical company.<br>
                                                &#149;&nbsp;&nbsp;VP/Medical Director-Occupational Health for a top university hospital in New York.<br>
                                                &#149;&nbsp;&nbsp;SVP/Medical Director, Clinical Pharmacology<br>
                                                &#149;&nbsp;&nbsp;VP/Medical Director, Clinical Research-Cardiovascular Drugs<br>
                                                &#149;&nbsp;&nbsp;VP/Medical Director, Clinical Research-Central Nervous System Drugs<br>
                                                &#149;&nbsp;&nbsp;VP/Medical Director, Clinical Research-Analgesics<br>
                                                &#149;&nbsp;&nbsp;VP, Nursing Administration for a teaching hospital in New York<br>
                                            </p>
                                        </div>
                                        <div class="content no-pad" id="unbundled">
                                           <h2>UNBUNDLED EXECUTIVE SEARCH SERVICES</h2>
                                           <p class="services-bullet-text">
                                                For clients with in house recruiting capabilities, the unbundling of the executive search process
                                                enables us to customize the recruiting project to meet the client's specific needs and cost
                                                requirements.  We gladly provide as much or as little recruiting support as is necessary.
                                                This process can include the following:<br><br>
                                                   &#149;&nbsp;&nbsp;Development of the position specification<br>
                                                   &#149;&nbsp;&nbsp;Development of the target list of companies<br>
                                                   &#149;&nbsp;&nbsp;Research utilizing the firm databases, library, prior searches and online resources<br>
                                                   &#149;&nbsp;&nbsp;Telephone screening<br>
                                                   &#149;&nbsp;&nbsp;Development of candidate profile reports<br>
                                                   &#149;&nbsp;&nbsp;Personal interviewing<br>
                                                   &#149;&nbsp;&nbsp;Assessment counseling<br>
                                                   &#149;&nbsp;&nbsp;Reference checking<br>
                                                   &#149;&nbsp;&nbsp;Salary and offer negotiation
                                           </p>
                                        </div>
                                        <div class="content no-pad" id="fees">
                                            <h2>A WORD ABOUT FEES</h2>
                                            <p class="services-bullet-text">
                                                Fees for these services are based on time and expense.  Expenses for memberships or posting are billed
                                                at cost.  The scope of services includes weekly status reports to insure consistent communication.
                                                A weekly status reports fully detail how much time has been dedicated to an assignment, what specifically
                                                has been accomplished in that time and what next steps are required and/or recommended. This commitment to
                                                communication enables the client to better control the direction of the search.<br><br>
                                                We have found that billing on a time and expense basis can generate a considerable cost savings for
                                                the client over retained executive search fees. Depending of the level and complexity of the project,
                                                clients have found that search fees based on time and expense are typically 50-70% lower than retained
                                                executive search fees. As a result, they also have more control over customizing the search strategy to meet
                                                their recruiting and budget needs.
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 10px;">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content" id="process">
                        <table class="aligncenter" width="85%" border="0" style="border:0;">
                            <tbody>
                            <tr>
                                <td>
                                    <h2 style="margin:0;">Our Process</h2>
                                    <p class="about-text">
                                        While we follow a tested, optimized process, no two searches are alike.  Part of
                                        our mission is to understand your unique requirements, and to deliver the results
                                        that you expect from experienced boutique executive search.
                                    </p>
                                    <h2>Functional Expertise</h2>
                                    <ul class="about-text">
                                        <li>&#149;&nbsp;&nbsp;Corporate Finance / Treasury / Accounting</li>
                                        <li>&#149;&nbsp;&nbsp;Business Technology / Strategic IT & Operations</li>
                                        <li>&#149;&nbsp;&nbsp;Marketing / Sales / E-Commerce</li>
                                        <li>&#149;&nbsp;&nbsp;Operations / Manufacturing / Product Development / Supply Chain / Procurement</li>
                                        <li>&#149;&nbsp;&nbsp;Strategy & Risk</li>
                                        <li>&#149;&nbsp;&nbsp;Human Resources</li>
                                    </ul>
                                </td>
                                <td width ="750px">
                                    <img id="process-image" src="../assets/images/process.png">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content" id="contact">
                        <table class="aligncenter" width="85%" border="0" style="border:0;display:table;">
                            <tbody>
                            <tr>
                                <td width="10%">&nbsp;</td>
                                <td width="80%">
                                    <h2>CONTACT US</h2>
                                    <p class="about-text">
                                        We would love to hear from you.  Please contact us through one of the following channels:
                                    </p>
                                        <table>
                                            <tr>
                                                <td width="33%" class="icon-center">
                                                    <a href="tel://9173635510" class="icon-color">
                                                        <i class="fa fa-mobile fa-4x "></i>
                                                        <br>(917) 363-5510
                                                    </a>
                                                </td>
                                                <td width="800px" class="icon-center">
                                                    <a class="icon-color" href="mailto:diana@alexanderconsulting.biz">
                                                        <i class="fa fa-envelope fa-4x"></i>
                                                        <br>diana@alexanderconsulting.biz
                                                    </a>
                                                </td>
                                                <td width="33%" class="icon-center">
                                                    <span class="icon-color">
                                                        <i class="fa fa-building-o fa-4x"></i>
                                                        <br>3901 Marshfield Dr<br>
                                                        Southport, NC 28461
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                </td>
                                <td width="10%">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </td>
    </tr>
</table>
<table class="aligncenter footer" width="100%" border="0" style="border:0;margin:0 auto;">
    <tbody>
        <tr>
            <td width="100%">&nbsp;</td>
        </tr>
    </tbody>
</table>

<script src="../assets/javascripts/jquery.js"></script>
<script src="../assets/javascripts/modernizr.js"></script>
<script src="../assets/javascripts/foundation.min.js"></script>
<script src="../assets/javascripts/foundation.orbit.js"></script>
<script src="../assets/javascripts/foundation.reveal.js"></script>
<script>
    $(document).foundation();
</script>

<!-- #EndEditable -->
</body>
</html>
