<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="../assets/css/theme.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/overrides.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <title>Cornell Fencing</title>
</head>
<body>
<div class="home page page-id-5 page-template-default">
    <!--header-->
    <div id="splash-page">
        <div id="hero-image">
            <a name="home"></a>
            <div class="main-width" data-magellan-destination="home">
                <div id="header">
                    <div id="nav">
                        <div id="nav-bg" data-magellan-expedition="fixed">
                            <ul class="sub-nav">
                                <li data-magellan-arrival="home">
                                    <a href="#home" class="scrollTo selected">HOME</a>
                                </li>
                                <li data-magellan-arrival="about">
                                    <a href="#about" class="scrollTo">ABOUT US</a>
                                </li>
                                <li data-magellan-arrival="news">
                                    <a href="#news" class="scrollTo">NEWS</a>
                                </li>
                                <li data-magellan-arrival="roster">
                                    <a href="#roster" class="scrollTo">ROSTER</a>
                                </li>
                                <li data-magellan-arrival="schedule">
                                    <a href="#schedule" class="scrollTo">SCHEDULE</a>
                                </li>
                                <li data-magellan-arrival="history">
                                    <a href="#history" class="scrollTo">HISTORY</a>
                                </li>
                                <li data-magellan-arrival="support">
                                    <a href="#support" class="last scrollTo">SUPPORT THE BIG RED</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear "></div>
                </div>
                <!--banner-->
                <div id="banner-panel">
                    <div id="social-icons">
                        <div class="icons "><a
                                href="https://www.facebook.com/CornellWomensFencing"
                                target="_blank "><img src="../assets/images/fb-icon.png " alt="facebook "></a></div>
                        <div class="icons-space ">&nbsp;</div>
                        <div class="icons "><a href="https://twitter.com/cornellfencing" target="_blank "><img
                                src="../assets/images/twitter-icon.png " alt="twitter "></a></div>
                        <div class="icons-space ">&nbsp;</div>
                        <div class="icons "><a href="http://instagram.com/52JMJ/ " target="_blank "><img
                                src="../assets/images/instagram.png " alt="instagram "></a></div>
                    </div>
                </div>
                <!--end banner-->
                <div class="clear "></div>
            </div>
            <div class="clear "></div>
        </div>
        <div class="magellan-offset" id="top-bg">
            <div class="main-width">
                <div class="row header-offset">
                    <div class="large-2 columns" style="text-align:right;">
                        <img src="../assets/images/logo.png" alt="logo" style="padding:10px 0 0 0;">
                    </div>
                    <div class="large-9 columns">
                        <h1>Cornell Fencing Association</h1>
                    </div>
                </div>

            </div>
            <!--end header-->
        </div>

    </div>

    <!--qlinks-->
    <div id="blk-bg ">
        <div class="main-width ">
            <!--content-->
            <div class="content" id="about">
                <a name="about"></a>
                <h2 data-magellan-destination="about">About Us</h2>
                <table>
                    <tr>
                        <td width="65%">
                            The Men’s Fencing Team is a competitive travelling club team, and the non-varsity counterpart to the women’s varsity fencing team at Cornell.<br><br>
                            The women’s coach, Iryna Dolgikh, integrates us into practice and is there to provide guidance and help to the men’s team at all times.
                            Coach Iryna was the women’s foilist World Champion in 1976, member of the USSR Junior National Team in the mid 1970s, and a gold medalist in the 1977 World Cup.
                            The men also work with Assistant Coach, Oleg Brusilovsky, who is a former Soviet Union National Champion and a five-time Ukraininan National Champion,
                            competing in foil in the 1980’s. Before coming to Cornell, he coached at the Fencing Academy of Westchester.

                            The Men’s team is fortunate to be advised by Professor Alex Colvin, who helps facilitate our Monday practices from 8-10 pm.
                            We practice in a new, state of the art facility, the Andrew P. Stifel Fencing Salle. It was donated by former Men’s Foil Captain
                            Andrew P. Stifel ‘91  and former Women’s fencer Nina Farouk ‘97.<br><br>

                            The Men’s Team has a full schedule of individual and team meets. The Fall schedule includes two open tournaments, the Temple Open and the Garrett Open at Penn State.
                            In addition, we customarily fence our first regular season macfa meet in the Fall Semester, as well as any other invitationals that are scheduled.
                            In the Spring, we fence the remaining macfa meets, the macfa championship event, and the usacfc Club Championships (a tournament of club programs from across
                            the country). Club members also commonly attend usfa events including NACs, Junior Olympics and other local and regional events.<br><br>

                            The men’s team is open to any member of the Cornell community.  However, in recent years the travelling team has become more competitive, and thus some degree
                            of previous fencing experience is encouraged, although not always required.  For those fencers who are looking for a more relaxed, educational fencing experience,
                            there is a separate group on campus, the Recreational Fencing Club who welcome fencers of all experience levels. Undergraduates are invited to practice daily from
                            5-7pm in the Andrew Stifel Fencing Salle in Bartels Hall. We are open to spread our knowledge of the sport to all of those interested.  Please contact the captain,
                            Matthew Laks, (captain@cornellfencing.com) for any questions or details.
                        </td>
                        <td width="5%">&nbsp;</td>
                        <td width="30%" style="text-align: center;">
                            <div>
                                <img class="cirlce-image" src="../assets/images/juliancalvin.png" width="300px;">
                            </div>
                            <div height="60px;" style="height:60px;">
                                &nbsp;
                            </div>
                            <div>
                                <img class="cirlce-image" src="../assets/images/fencing_coach_girl.png" width="300px">
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="content" id="news">
                <a name="news"></a>
                <h2 data-magellan-destination="news">News</h2>
                    <h3 style="font-size:24px;">Laks challenges Tim Morehouse to Saber Modeling Duel</h3>
                    <table>
                        <tr>
                            <td width="35%">
                                <img class="grow pic" src="../assets/images/laaaaks.jpg" width="300px;">
                            </td>
                            <td width="5%">
                                &nbsp;
                            </td>
                            <td width="60%">
                                Senior Matt Laks reached out to Tim Morehouse, in hopes of achieving his dream of winning an all-out saber modeling competition.
                                Sign up now for his new sexy calendar, coming out this year.  You can also buy his new fragrance, "Re<span style="color:#b7161d">Laks</span>ation".<br><br>
                                Mlkshk art party Truffaut raw denim blog. Tousled messenger bag try-hard, biodiesel Tumblr single-origin coffee
                                dreamcatcher cronut pug mustache. VHS cliche artisan butcher synth beard quinoa keffiyeh, Schlitz XOXO meh four loko Blue Bottle.
                                Ethical squid skateboard, kale chips dreamcatcher viral Carles +1 yr bitters Intelligentsia blog pickled. Austin semiotics
                                Marfa keytar stumptown next level, post-ironic iPhone church-key 8-bit. Church-key single-origin coffee small batch squid migas.
                                Irony keffiyeh chambray four loko, church-key disrupt Etsy mustache farm-to-table vegan cray.

                            </td>
                        </tr>
                        </table>


            </div>
            <div class="content" id="roster">
                <a name="roster"></a>
                <h2 data-magellan-destination="roster">Roster</h2>
                <div>
                    Gluten-free four loko umami cornhole. Meh seitan forage, umami art party Tumblr plaid Echo Park. Stumptown butcher +1 deep v, try-hard listicle asymmetrical Odd Future irony. Crucifix four dollar toast sriracha, flannel Echo Park banjo typewriter Banksy Neutra cred vegan Austin direct trade. YOLO lomo Thundercats, gluten-free tattooed Godard squid before they sold out put a bird on it typewriter. Helvetica scenester pork belly tattooed. Intelligentsia biodiesel kogi chambray, occupy beard forage church-key.
                </div>
            </div>
            <div class="content" id="schedule">
                <a name="schedule"></a>
                <h2 data-magellan-destination="schedule">Schedule</h2>
                <div>
                    Beard mlkshk mumblecore health goth freegan occupy. Pitchfork skateboard cardigan fixie next level, health goth art party Pinterest actually distillery American Apparel tote bag shabby chic ethical. Yr readymade drinking vinegar four dollar toast, polaroid sriracha beard roof party. Blue Bottle XOXO American Apparel forage scenester, Marfa Pitchfork yr messenger bag blog kitsch. Photo booth leggings fixie, meh migas pork belly meditation listicle tofu sartorial beard semiotics whatever literally. 90's sustainable squid YOLO put a bird on it, wolf deep v Vice. Swag banh mi art party, pop-up Blue Bottle Schlitz flexitarian Marfa street art YOLO lumbersexual synth Kickstarter.
                </div>
            </div>
            <div class="content" id="history">
                <a name="history"></a>
                <h2 data-magellan-destination="history">History</h2>
                <div>
                    Dreamcatcher wayfarers next level authentic. Mumblecore vinyl photo booth crucifix seitan, iPhone artisan. Tote bag flexitarian irony banh mi vegan letterpress. Wolf gentrify bitters, lumbersexual flannel DIY Carles four dollar toast. Banksy crucifix DIY street art craft beer, bitters Blue Bottle mlkshk food truck. Flexitarian distillery 8-bit, +1 taxidermy stumptown brunch cold-pressed chia iPhone selvage lomo cray butcher kogi. Keffiyeh small batch Carles pork belly before they sold out cold-pressed, ennui VHS Bushwick meh.
                </div>
            </div>
            <div class="content" id="support">
                <a name="support"></a>
                <h2 data-magellan-destination="support">Support</h2>
                <div>
                    Pour-over migas umami literally 3 wolf moon. Bitters aesthetic Bushwick chillwave, taxidermy Intelligentsia seitan letterpress ethical Truffaut Vice street art PBR&B bicycle rights American Apparel. 3 wolf moon PBR Pinterest seitan trust fund. Seitan plaid polaroid, single-origin coffee art party chia mlkshk umami migas chambray. Sriracha keffiyeh Schlitz, mumblecore sartorial fingerstache health goth deep v. Locavore literally bitters, flexitarian seitan quinoa next level cred 90's raw denim roof party butcher XOXO polaroid. Ethical blog Portland messenger bag, iPhone jean shorts cred Carles normcore American Apparel wayfarers.
                </div>
            </div>
            </div>
            <!--end content-->
        </div>
        <div class="clear "></div>
    </div>
    <!--footer-->

    <div id="bottom-bg ">
        <div class="main-width ">
            <div id="footer">
                <a href="#" target="_blank ">
                    <img src="../assets/images/footer_sprite.png" alt="the tower club means you lost $5000" id="footer-sprites">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="../assets/javascripts/jquery.js"></script>
<script src="../assets/javascripts/foundation.js"></script>
<script src="../assets/javascripts/foundation.magellan.js"></script>
<script>
    $('.scrollTo').on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({
            scrollTop: $('[name="' + $(this).attr('href').substr(1) + '"]').offset().top
        }, 600);
    });
</script>
</body>
</html>