<!-- outer table / background -->
<table bgcolor="#EEEEEE" cellpadding="0" cellspacing="0" border="0" width="100%"
       style="width:100%;border-collapse:collapse;background-color:#EEEEEE;font-weight:normal; padding:0px; margin:0px;"
       class="ng-scope">
<tbody>
    <tr>
        <td>
            <p style="margin: 0px; padding: 0px; color: rgb(136, 136, 136); font-size: 12px; text-align: center; font-family:Arial, sans-serif; padding: 10px 0 10px;"
               class="ng-scope ng-binding">
                Have trouble viewing this email? Click <a href="#" class="ng-binding">here</a>.
            </p>
        </td>
    </tr>
    <tr> <!-- sized centered column -->
        <td align="center" valign="top" style="vertical-align:top;">
            <table border="0" cellpadding="0" cellspacing="0"
                style="max-width:580px;border-collapse:collapse;margin-left:auto;margin-right:auto; padding:0px; margin:0px;">
                <tbody> <!-- gray space --> <!-- end gray space --> <!-- start content -->
                    <tr>
                        <td align="center" valign="top" style="vertical-align:top;">
                        <!-- inner table / bordered content -->
                            <table border="0" cellpadding="0" cellspacing="0" style="max-width:580px" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" width="100%"
                                                style="max-width:580px;border-collapse:collapse;background-color:#FFFFFF;border-radius:4px; box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);">
                                                    <tbody>
                                                    <!-- middle row of 3 columns, padding on left and right, content in center -->
                                                        <tr> <!-- left 40px padding -->
                                                            <td style=" line-height:0;font-size:0;">
                                                                <table cellpadding="0" cellspacing="0" border="0" style=" width:40px; width:auto">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="width:40px">&nbsp;</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <!-- end left 40px padding -->
                                                            <!-- center cell - hold all content -->
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:500px;border-collapse:collapse;">
                                                                    <tbody> <!-- top 40px padding -->
                                                                        <tr>
                                                                            <td height="40" style="height:40px;">&nbsp;</td>
                                                                        </tr>
                                                                        <!-- end top padding -->
                                                                        <tr>
                                                                            <td>
                                                                                <table id="email_header" cellpadding="0" cellspacing="0" border="0" width="100%"
                                                                                       style="width:100%;border-collapse:collapse;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td width="70%" height="50" align="left" valign="top"
                                                                                            style="max-width:340px; height:80px; vertical-align:top; text-align:left;">
                                                                                            <a href="https://bgec.opower.com/" style="border:none;"><img id="email_header_logoImage"
                                                                                                                                                         alt="BGE logo"
                                                                                                                                                         src="http://static-stage.opower.com/images/clients/util/logo.png"
                                                                                                                                                         border="0"></a>
                                                                                        </td>
                                                                                        <td width="30%" align="right" valign="top" style="vertical-align:top; text-align:right">
                                                                                            <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                                                                   style=" border-collapse:collapse; font-family:Arial;">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td id="email_header_accountName" align="right" valign="top"
                                                                                                        style="font-size:12px; color:#222222;vertical-align:top;text-align:right; line-height:16px"
                                                                                                        class="ng-binding">
                                                                                                        GARY OAK
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <table border="0" cellspacing="0" cellpadding="0" align="right">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td valign="top" align="right">
                                                                                                                    <span id="email_header_accountNumber"
                                                                                                                          style="font-size:12px; color:#888888;vertical-align:top;text-align:right; line-height:16px; font-family:Arial, sans-serif"
                                                                                                                          class="ng-binding">**********9001</span>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- 40px vertical spacer -->
                                                                        <tr>
                                                                            <td height="40" style="height:40px;">&nbsp;</td>
                                                                        </tr>
                                                                        <!-- end 40px vertical spacer --> <!-- module -->
                                                                        <tr>
                                                                            <td width="500px" style="width:500px">
                                                                                <!-- module Two week chart -->
                                                                                <table id="email_two-week-graph" border="0" cellspacing="0" cellpadding="0"
                                                                                       style="max-width:500px; height:174px">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td><!-- top header -->
                                                                                            <table bgcolor="#FFFFFF" width="100%" style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td align="left"
                                                                                                        style="text-align:left;font-size:20px;color:#0088ce; font-weight:bold; font-family:Arial,sans-serif; line-height:20px">
                                                                                                        Welcome to the Home Energy Report program!
                                                                                                    </td>
                                                                                                    <!-- end top titile --> </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <!-- top header --></td>
                                                                                    </tr>
                                                                                    <!-- top 20px padding -->
                                                                                    <tr>
                                                                                        <td bgcolor="#FFFFFF" width="500px" height="20px" align="left"
                                                                                            style="width:500px;text-align:left;vertical-align:top; height:20px">&nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    <!-- end top padding -->
                                                                                    <tr>
                                                                                        <td align="left">
                                                                                            <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0"
                                                                                                   style="max-width:500px">
                                                                                                <tbody> <!-- space 12px -->
                                                                                                <tr style="font-size:16px; font-family:Arial, sans-serif;">
                                                                                                    <td width="500px" style="width:500px;">
                                                                                                        At UtilityCo, we are committed to helping our customers save on their energy bills.

                                                                                                        <br><br>
                                                                                                        Each month we will send you an email showing how your electricity use compares to your
                                                                                                        neighbors.
                                                                                                        This will help you understand whether your home uses a large or small amount of
                                                                                                        electricity.
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <!-- end gray chart -->
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <!-- end module Two week chart --> </td>
                                                                        </tr>
                                                                        <!-- end module --> <!-- 40px vertical spacer -->
                                                                        <tr>
                                                                            <td height="25" style="height:25px;">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="25" style="height:25px; border-top: 2px solid #cccccc;">&nbsp;</td>
                                                                        </tr>
                                                                        <!-- end 40px vertical spacer --> <!-- module -->
                                                                        <tr>
                                                                            <td width="500px" style="width:500px">
                                                                                <!-- module Project Bill -->
                                                                                <table border="0" cellspacing="0" cellpadding="0"
                                                                                       style="width:100%;">
                                                                                    <tbody>
                                                                                    <!-- content -->
                                                                                    <tr>
                                                                                        <td style="font-size:16px; font-weight: 700; font-family:Arial, sans-serif; color:#0088ce; line-height:23px">
                                                                                            Here's what your neighbor comparison might look like:
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="15" style="height:15px;">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <img src="https://static-stage.opower.com/images/email/icons/cea/neighborcomp2.png" alt="comparison"
                                                                                                 width="100%">
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="15" style="height:15px;">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-size:16px; font-family:Arial, sans-serif; color:#222222; line-height:23px">
                                                                                            How is your home compared to your neighbors'?
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="15" style="height:15px;">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-size:12px; font-family:Arial, sans-serif; color:#222222; line-height:16px">
                                                                                            Your electricity use is compared to approximately <b>100 nearby, occupied homes</b> with similar
                                                                                            characteristics, such as square footage and heating type.<br><br>

                                                                                            To ensure your comparison depends only on things you can control, like replacing incandescent
                                                                                            bulbs with LEDs, we chose the nearby homes most similar to yours.
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="25" style="height:25px;">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="25" style="height:25px; border-top: 2px solid #cccccc;">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="500px" style="width:500px">
                                                                                <table id="email_weekly-graph" border="0" cellspacing="0" cellpadding="0"
                                                                                       style="max-width:500px;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table bgcolor="#FFFFFF" width="100%" style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td align="left"
                                                                                                        style="text-align:left;font-size:16px;color:#0088ce; font-weight:bold; font-family:Arial,sans-serif; line-height:20px">
                                                                                                        You can start saving right now.
                                                                                                    </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="15" style="height:15px;">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-size:12px; font-family:Arial, sans-serif; color:#222222; line-height:16px">
                                                                                            You can log in our web portal to discover tips on how to save <span style="color:#80c342">energy</span> and <span style="color:#80c342">money</span>. <br><br>

                                                                                            You can also take a <b>short home audit</b> that will provide personalized insights for your home, and help make your
                                                                                            first comparison even more accurate.
                                                                                        </td>
                                                                                        <td width="130" style="width:130px;">
                                                                                            <img src="http://i.imgur.com/LkqGLcG.png" alt="audit" width="130">
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="15" style="height:15px;">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td bgcolor="#FFFFFF">

                                                                                            <table border="0" cellspacing="0" cellpadding="0" width="100%" height="40px" align="left">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <table border="0" cellspacing="0" cellpadding="0" align="left"
                                                                                                               style="height:40px; float:left" height="40px">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" bgcolor="#0079C1"
                                                                                                                    style="background-color:#0079C1; border: 1px solid #0079C1; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: block; background: -webkit-gradient(linear, left top, left bottom, from(#71C6EF), to(#0079C1)); background: -moz-linear-gradient(top, #71C6EF, #0079C1); border-radius:4px; -moz-border-radius:4px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71C6EF', endColorstr='#0079C1'); text-align:left; padding:11px 20px">
                                                                                                                    <a href="https://util.opower.com/ei/app/whatUsesMost/"
                                                                                                                       style="color: #FFFFFF; font-size:16px; font-weight: bold; font-family: Arial, sans-serif; text-decoration: none; display: block; vertical-align:middle; width:auto; text-align:left; line-height:18px; "><span
                                                                                                                            id="email_tips_more_personalized" style="line-height:18px"
                                                                                                                            class="ng-binding">Log in to the Home Energy Portal</span></a>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            <!-- end module Personalized tips -->
                                                            </td>
                                                            <td style=" line-height:0;font-size:0;">
                                                                <table cellpadding="0" cellspacing="0" border="0" style=" width:40px; width:auto">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="width:40px">&nbsp;</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!-- end module --> <!-- 40px vertical spacer -->
                                                        <tr>
                                                            <td height="20" style="height:40px;">&nbsp;</td>
                                                        </tr>
                                                        <!-- end 40px vertical spacer -->
                                                    </tbody>
                                            </table>
                                            <!-- end inner table -->
                                        </td>
                                        <!-- right 40px padding -->
                                        <td style=" line-height:0;font-size:0;">
                                            <table cellpadding="0" cellspacing="0" border="0" style=" width:40px; width:auto">
                                                <tbody>
                                                <tr>
                                                    <td style="width:40px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <!-- end right 40px padding -->
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- spacer -->
                    <tr>
                        <td height="30" style="height:30px;">&nbsp;</td>
                    </tr>
                <!-- end spacer --> <!-- footer --> <!-- footer -->
                </tbody>
            </table>
            <table id="email_footer" border="0" cellspacing="0" cellpadding="0" width="600"
                   style="width: 100%;border:0;border-collapse:collapse;border-spacing:0;border-radius:4px;color:#888888;font-size:10px;text-align:center;background-color:#eeeeee;margin:0 auto;padding:0"
                   bgcolor="#eeeeee">
                <tbody>
                <tr style="border: 0; margin: 0; padding: 0;">
                    <td width="40px" style="border: 0; margin: 0; padding: 0 0 20px;"></td>
                    <td width="520px"
                        style="border: 0; margin: 0; padding: 0 0 20px;font-family:Helvetica, Arial, sans-serif !important;">
                        <font face="font-family:Helvetica, Arial, sans-serif !important;" class="ng-binding">* Cost and energy
                            projections are estimates only, not an assurance of what your actual bill will be. Your actual bill may
                            vary due to factors like your actual usage, taxes, and fees.</font></td>
                    <td width="40px" style="border: 0; margin: 0; padding: 0 0 20px;"></td>
                </tr>
                <tr style="border:0;margin:0;padding:0">
                    <td width="40px" style="border:0;margin:0;padding:0"></td>
                    <td width="520px" style="border:0;margin:0;padding:0"><font
                            face="font-family:Helvetica, Arial, sans-serif !important;" style="line-height:16px" class="ng-binding">
                        <a id="email_footer_preferences" href="https://bgec.opower.com/"
                           style="font-size:10px;color:#888;font-family:Arial, sans-serif;" class="ng-binding">Manage
                            Preferences</a> |
                        <a id="email_footer_unsubscribe"
                           href="http://pages.email.opower.com/page.aspx?QS=2e4c31a3756cb94078bf463fcc32d064eb1bb0ad37c62033&subKey=garyoak@gmail.com&mid=1307576&r=0"
                           style="font-size:10px;color:#888;font-family:Arial, sans-serif;" class="ng-binding">Unsubscribe</a> from
                        these emails
                    </font></td>
                    <td width="40px" style="border:0;margin:0;padding:0"></td>
                </tr>
                <tr style="border:0;margin:0;padding:0">
                    <td width="40px" style="border:0;margin:0;padding:0"></td>
                    <td width="520px" style="border:0;margin:0;padding:0;font-family:Arial, sans-serif;">
                        <div ng-bind-html-unsafe="activeModule.module.features[16].attribute[7].value" class="ng-binding">P.O. Box
                            1475 Baltimore, MD 21203
                        </div>
                    </td>
                    <td width="40px" style="border:0;margin:0;padding:0"></td>
                </tr>
                <tr style="border:0;margin:0;padding:0">
                    <td width="40px" style="border:0;margin:0;padding:0"></td>
                    <td width="520px" style="border:0;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif!important">
                        <div ng-bind-html-unsafe="activeModule.module.features[16].attribute[8].value" class="ng-binding">Copyright
                            2012-2013 Opower. All rights reserved.
                        </div>
                    </td>
                    <td width="40px" style="border:0;margin:0;padding:0"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</tbody>
</table>



